
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  padding: 10px;
  grid-auto-flow: dense;
}

.grid-item,
.smaller-grid-item,
.bigger-grid-item {
  background-color: #54525c;
  padding: 5px;
  border: 1px solid #6c6a75;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item {
  height: 360px;
}

.smaller-grid-item {
  height: 200px;
}

.bigger-grid-item {
  height: 405px;
}
.bigger-grid-item:hover,
.smaller-grid-item:hover,
.grid-item:hover {
  transform: scale(0.99);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: #333;

  border-radius: 3px;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: fill;
}

.text-content {
  margin-top: 10px;
}

.image-title {
  margin-bottom: 10px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-info {
  font-size: 14px;
  margin-bottom: 10px;
  white-space: normal;
  word-wrap: break-word;
}

.action-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  margin-right: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  border-radius: 4px;
}

.tooltip-grid {
  opacity: 0;
  position: absolute;
  top: 10px; /* Adjust this value according to your desired tooltip position */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(65, 64, 64, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  transition: top 1s ease, opacity 0.3s ease;
}

.grid-item:hover .tooltip-grid {
  opacity: 1;
  top: -50px;
}

.list-grid-item {
  background-color: #54525c;
  padding: 5px;
  border: 1px solid #6c6a75;
  font-family: Arial, sans-serif;
  width: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  height: 360px;
  gap: 10px;
}

.list-container {
  max-height: 300px;
  overflow-y: auto;
  flex: 1;
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
}

.tooltip-list {
  opacity: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(65, 64, 64, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  transition: top 1s ease, opacity 0.3s ease;
}

.list-item:hover .tooltip-list {
  opacity: 1;
  top: -50px;
}

.list-button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 17%;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.list-button:hover {
  opacity: 1;
  top: -50px;
  transform: scale(0.95);
}

.list-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 30%;
  height: 100%;
}

.list-button-js {
  background-color: #f7df1e; 
}

.list-button-py {
  background-color: #3776ab; 
}

.list-button-unity {
  background-color: #222c37;  
}

.list-button-cpp {
  background-color: #00599c;
}

.list-button-rust {
  background-color: #f38748; 
}

.tiny-grid-item {
  background-color: #54525c;
  padding: 10px;
  border: 1px solid #6c6a75;
  font-family: Arial, sans-serif;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}