.navbar-main-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    background-color: #2E2E2E;

    z-index: 4;
}

.navbar-button{
    background-color: #1f1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-button:hover{
    background-color: #3b3a3a;
    cursor: pointer;
}


.navbar-contact-containter
{
    height: 100%;
    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    gap: 5px;
}

.navbar-spacer
{
    height: 100%;
    width: 60%;
}

.navbar-home-button-container
{
    height: 100%;
    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo-img
{
    height: 75%;
    aspect-ratio: 1/1;

    transition: scale 0.5s ease-in-out;
}

.navbar-logo-img:hover
{
    cursor: pointer;
    scale: 0.9;
}