body {
  /* overflow: hidden; */
}

.main-page-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
}

.page-content-container {
  height: 95%;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}

.transition-out {
  transform: translateY(-110%); 
}

.transition-in {
  transform: translateY(0); 
}
