body {
  overflow: hidden;
  font-family: 'Arial', sans-serif;

}

.main-page-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.page-content-container {
  height: 95%;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;

  /* background-color: var(--background); */
  /* z-index: 2; */

}

.transition-out {
  transform: translateY(-110%); 
}

.transition-in {
  transform: translateY(0); 
}

:root {
  --text: rgb(252, 252, 253);
  --background: rgb(16, 16, 16);
  --primary: rgb(31, 31, 31);
  --secondary: rgb(32, 32, 34);
  --accent: rgb(113, 113, 113);
}

h1 {
  font-size: clamp(2.6rem, min(2.7vh, 2.2vw) + 0.9rem, 3.8rem);
  font-weight: bold;
  color: var(--text);
}

h2 {
  font-size: clamp(1.5rem, min(1.5vh, 1.2vw)+ 0.5rem, 2.5rem);
  font-weight: bold;
  color: var(--text);
}

h3 {
  font-size: clamp(1rem, min(1.4vh, 0.8vw) + 0.5rem, 1.5rem);
  font-weight: bold;
  color: var(--text);
}